<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunny Time</title>
    <link rel="stylesheet" href="/public/css/stylesheet1.css">
</head>
<header>
    <h1>Sunny Time</h1>
</header>

<body>
    <nav>
        <ul>
            <li><a href="../views/index.ejs">Home</a></li>
            <li><a href="../views/html/about.ejs">about</a></li>
        </ul>
    </nav>
</body>

</html>