<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunny Time</title>
    <link rel="stylesheet" href="/public/css/stylesheet1.css">
</head>
<header>
    <h1 id="cover">Sunny Time</h1>
</header>

<body>
    <div class="left" style="display: none;">
        <nav>
            <ul class="nav">
                <li><a href="../views/index.ejs">Home</a></li>
                <li><a href="../views/html/about.ejs">About</a></li>
                <li><a href="../views/html/Schedule.ejs">Schedule</a></li>
            </ul>
        </nav>
    </div>
    <div id="loginbox">
        <h2>Welcome to SunnyTime</h2>
        <h3>&nbsp Login below</h3>
    </div>

    
    <img id="logo" src="../public/img/istockphoto-1142670098-612x612.jpg" alt="Logo">
</body>

<footer>
    <p>&copy;Sunny Time</p>
</footer>

</html>