html {
    background-color: white;
   
    margin: -8px;
}
body{
    background-color: #e9edee;

}

#cover {
    color: white;
    background-color: white;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: sans-serif;
    color: #eb5600;
    margin: 0px;
}

#logo {
    display: block;
    margin-left: 50px;
    margin-top: 20px;
    justify-content: left;
    border-style: solid;
    border-radius: 200px;
    width: 500px;

}

h1 {
    color: white;
    background-color: white;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: sans-serif;
    color: #eb5600;
}

.left {
    width: 20%;
    float: left;
    margin-top: 100px;
    background-color: #81b46c;
    border-style: solid;
    border-radius: 20px;
}

.nav {
    margin: 20px;
    padding: 0;
    list-style: none;
}

.nav li {
    margin: 1px;



}

.nav li a {
    font-family: Arial;
    font-weight: bold;
    display: block;
    line-height: 3em;
    width: 100%;
    text-decoration: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#Signout {
    float: right;
    background-color: rgb(255, 92, 92);
    width: 100px;
    height: 40px;
    margin-left: 480px;
    font-size: 20px;
    margin-bottom: 20px;
}
footer{
    font-family: Arial;
    background-color: white;
    font-size: 20px;
    margin-top: 100px;
}
#loginbox {
    float: right;
    margin-right: 100px;
    padding: 20px;
    background-color: rgb(196, 196, 196);
    color: #eb5600;
}