<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunny Time - Schedule</title>
    <link rel="stylesheet" href="/public/css/stylesheet1.css">
</head>
<header>
    <h1 id="cover">Sunny Time - Schedule</h1>
</header>

<body>
    <div class="left">
        <nav>
            <ul class="nav">
                <li><a href="/views/index.ejs">Home</a></li>
                <li><a href="about.ejs">About</a></li>
                <li><a href="Schedule.ejs">Schedule</a></li>
            </ul>
        </nav>
    </div>
    <button id="Signout">Sign Out</button>
    <div>
        <h2>schedule</h2>
    </div>
</body>

<footer>
    <p>&copy;Sunny Time</p>
</footer>

</html>