<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunny Time - Schedule</title>
    <link rel="stylesheet" href="/public/css/stylesheet1.css">
    <style>
        table {
                border-collapse: collapse;
                background: white;
                color: black;
        }
        th, td { 
                font-weight: bold;
        }
        td {
                max-width: 100px;
                max-height: 100px;
                min-width: 100px;
                min-height: 100px;
                word-wrap: break-word;
        }
    </style>
</head>
<header>
    <h1 id="cover">Sunny Time - Schedule</h1>
</header>

<body>
    <div class="left">
        <nav>
            <ul class="nav">
                <li><a href="/views/index.ejs">Home</a></li>
                <li><a href="about.ejs">About</a></li>
                <li><a href="Schedule.ejs">Schedule</a></li>
            </ul>
        </nav>
    </div>
    
    <button id="Signout">Sign Out</button>
    <div>
        <h2>schedule</h2>
    </div>

    <table bgcolor="lightgrey" align="center" cellspacing="21" cellpadding="40">

        <!-- The tr tag is used to enter 
            rows in the table -->

        <!-- It is used to give the heading to the
            table. We can give the heading to the 
            top and bottom of the table -->

        <caption align="top">
            <!-- Here we have used the attribute 
                that is style and we have colored 
                the sentence to make it better 
                depending on the web page-->
        </caption>

        <!-- Here th stands for the heading of the
            table that comes in the first row-->

        <!-- The text in this table header tag will 
            appear as bold and is center aligned-->

        <thead>
            <tr>
                <!-- Here we have applied inline style 
                     to make it more attractive-->
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1<p>Reminder: Drop child off at 10:30</p></td>
                <td>2<p></p></td>
            </tr>
            <tr></tr>
            <tr>
                <td>3<p></p></td>
                <td>4<p></p></td>
                <td>5<p></p></td>
                <td>6<p></p></td>
                <td>7<p></p></td>
                <td>8<p></p></td>
                <td>9<p></p></td>
            </tr>
            <tr>
                <td>10<p></p></td>
                <td>11<p></p></td>
                <td>12<p></p></td>
                <td>13<p></p></td>
                <td>14<p></p></td>
                <td>15<p></p></td>
                <td>16<p></p></td>
            </tr>
            <tr>
                <td>17<p></p></td>
                <td>18<p></p></td>
                <td>19<p></p></td>
                <td>20<p></p></td>
                <td>21<p></p></td>
                <td>22<p></p></td>
                <td>23<p></p></td>
            </tr>
            <tr>
                <td>24<p></p></td>
                <td>25<p></p></td>
                <td>26<p></p></td>
                <td>27<p></p></td>
                <td>28<p></p></td>
                <td>29<p></p></td>
                <td>30<p></p></td>
            </tr>
            <tr>
                <td>31<p></p></td>
                <td>1<p></p></td>
                <td>2<p></p></td>
                <td>3<p></p></td>
                <td>4<p></p></td>
                <td>5<p></p></td>
                <td>6<p></p></td>
            </tr>
        </tbody>
    </table>
    
</body>

<footer>
    <p>&copy;Sunny Time</p>
</footer>

</html>